# Python Basics by Examples

## Comments

Use `#` symbol to start a single line comment. Or use three `'` to  create a multiline comment:

In [5]:
# Single line comment
'''
    An example of
  multiline comment.
'''

'\n    An example of\n  multiline comment.\n'

## Importing Modules

Use `import` keyword to import a external module:

In [6]:
import os

## Variables

To define a variable simply assign a value to an arbitrary name:

In [7]:
variable_name = "An example of string."
another_variable = 10

But keep in mind that variable names:
- Always must start with letter or underscore symbol (_);
- Must contain only letters, numbers or underscore symbol (_);
- Is case-sensitive.

## IO Functions

### Printing

In [8]:
print('This is an example of print command.')

This is an example of print command.

### Reading

In [9]:
import sys
var = sys.stdin.readline()

## Basic Operators

### Arithmetic Operators

- `+`: Sum
- `-`: Subtration
- `*`: Multiplication
- `/`: Division
- `%`: Modulo
- `//`: Integer division (Trucates the division result)
- `**`: Exponentiation

In [10]:
print('5 + 2 =', 5 + 2)
print('5 - 2 =', 5 - 2)
print('5 * 2 =', 5 * 2)
print('5 / 2 =', 5 / 2)
print('5 % 2 =', 5 % 2)
print('5 // 2 =', 5 // 2)
print('5 ** 2 =', 5 ** 2)

5 + 2 = 7
5 - 2 = 3
5 * 2 = 10
5 / 2 = 2.5
5 % 2 = 1
5 // 2 = 2
5 ** 2 = 25

### Logic Operators

- `<`: Less than
- `>`: Greater than
- `<=`: Less or equal than
- `>=`: Greater or equal than
- `==`: Equals to
- `!=`: Not equal to

### Bit Operators

- `<<`: Left shift
- `>>`: Right shift
- `&`: And bit-a-bit
- `|`: Or bit-a-bit
- `^`: Xor bit-a-bit
- `~`: Not bit-a-bit

## Strings

To create a string put it inside double quotes (`"`) or single quote (`'`):

In [11]:
string = "An example of string using double quotes."

### Multiline String

It's possible to create multiline string using three apostrophes:

In [12]:
multiline_quote = '''The quick
    brown fox jumps over the
    lazy dog.
'''

### Operators

- `string1 + string2`: Concatenate `string1` and `string2`
- `string * n`: Repeat `string` `n` times

### Substrings

`string[s:e]`
- `s`: Beginning of substring
- `e`: End of substring (non-inclusive)

In [13]:
start = 0
end = 20
string[start:end]

'An example of string'

### Operations

In [14]:
string.find('double') # Find the first occurrence of a substring

27

In [15]:
len(string) # Length of string

41

In [16]:
string.strip() # Remove characters from the beginning and the ending of a string.

'An example of string using double quotes.'

In [17]:
string.split() # Split a string into several elements in each occurrence of the specific character

['An', 'example', 'of', 'string', 'using', 'double', 'quotes.']

In [18]:
string.startswith('An')

True

In [19]:
string.endswith('tes.')

True

In [20]:
string.count('e')

4

In [21]:
string.replace('An', 'The')

'The example of string using double quotes.'

## Print

In [22]:
print("Hello, World!")

Hello, World!

In [23]:
print("An example of how to suppress", end="")
print(" line breaks.")

An example of how to suppress line breaks.

### Formatted Print

In [24]:
print("%s | %s | %s" % ('I like the quote', string, multiline_quote))

I like the quote | An example of string using double quotes. | The quick
    brown fox jumps over the
    lazy dog.

In [25]:
print("{} ipsum dolor {} amet.".format("Lorem", "sit"))

Lorem ipsum dolor sit amet.

## Lists

To create lists use `[ ]` brackets:

In [26]:
list_var = [2, 4, 6, 8, 10]

In [27]:
list_var[1]

4

### Sublist

In [28]:
list_var[1:3]

[4, 6]

### List of Lists

In [29]:
matrix = [[0, 1, 0], [1, 4, 1], [0, 1, 0]]

In [30]:
matrix[1][1]

4

### Operations

### Insert

`list.insert(<index>, <value>)`

In [31]:
list_var.insert(0, 12)
list_var

[12, 2, 4, 6, 8, 10]

### Remove

`list.remove(<value>)`

In [32]:
list_var.remove(6)
list_var

[12, 2, 4, 8, 10]

### Sort

In [33]:
list_var.sort()
list_var

[2, 4, 8, 10, 12]

### Reverse

In [34]:
list_var.reverse()
list_var

[12, 10, 8, 4, 2]

### Concatenation

In [35]:
list2 = list_var[1:3]
new_list = list_var + list2
new_list

[12, 10, 8, 4, 2, 10, 8]

### Length

In [36]:
len(new_list)

7

### Maximum and Minimum Values

In [37]:
max(new_list)

12

In [38]:
min(new_list)

2

## Tuples

It's like lists but you cannot change the value after created.
Use `( )` brackets to create a tuple:

In [39]:
tuple_var = (1, 3, 5)

## Dictionaries

It is a collection of values with each one mapped to a unique key.
To create a new dictionary use `{ }` brackets:

In [40]:
dict_var = {"key1": "value1", "key2": "value2", "key3": "value3", "...": "..."}

In [41]:
dict_var

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3', '...': '...'}

In [42]:
dict_var["key2"]

'value2'

In [43]:
dict_var.get("key3")

'value3'

### Deleting a entry

In [44]:
del dict_var["..."]

### Modifying a value

In [45]:
dict_var["key1"] = "another value"

### Listing Keys and Values

In [46]:
dict_var.keys()

dict_keys(['key1', 'key2', 'key3'])

In [47]:
dict_var.values()

dict_values(['another value', 'value2', 'value3'])

## Statements

### if

```python
if <condition>:
    <block>
elif <condition>:
    <block>
elif <condition>:
    <block>
else:
    <block>
```

- One line statement:

```python
if <condition>: <command>
```

- Ternary operator:

```python
var = <value1> if <condition> else <value2>
```

### for

```python
for <var> in <sequence>:
    <block>
    [continue]
    [break]
else:
    <block>
```

- The `else` block will be executed after the loop completes normally. If the loop is interrupted by a `break` statement, the `else` block is skipped.

- `range(start, end, step)` can be used to define a number of interations. The `end` is not included.

In [48]:
for index in range(0, 10, 2):
    print('index:', index)

index: 0
index: 2
index: 4
index: 6
index: 8

### while

```python
while <condition>:
    <block>
    [continue]
    [break]
else:
    <block>
```

## Functions

### Defining Functions

In [49]:
def function_name(arg1, arg2, arg3, argN):
    pass

## Files

```python
file_var = open(<path>, <mode>)
```

In [50]:
file_var = open('templates/hello_world.txt', 'r+')

### Modes

- `r`: Read only
- `w`: Write only
- `a`: Append
- `r+`: Read and write
- `rb`, `wb`: Read and write binary files

### Reading Strings

In [51]:
string_from_file = file_var.read()
print(string_from_file)

Hello, World!

### Writing Strings

In [52]:
file_var.write('\nHello from Jupyter!')

20

### Closing Files

In [53]:
file_var.close()

### Using Context Manager

In [54]:
with open('templates/hello_world.txt', 'r') as file:
    string_from_file = file.read()
    print(string_from_file)

Hello, World!

Hello from Jupyter!

## Objects

### Defining Classes

In [55]:
class ClassName:
    __attr1 = 'value1'
    
    # Constructor
    def __init__(self, arg1, arg2, argN):
        pass
    
    # Getter
    def get_attr1(self):
        return self.__attr1
    
    # Setter
    def set_attr1(self, attr1):
        self.__attr1 = attr1

### Instanciation

In [56]:
var = ClassName('arg1', 'arg2', 'argN')

### Inheritance

In [57]:
class SubClass(ClassName):
    def __init__(self):
        super(ClassName, self).__init__()